.bg-gray-600.flex.flex-row.text-gray-100.text-2xl
  p.flex-grow.text-2xl.font-extrabold {{ $route.name }}
  span.px-4.relative
    button(@click='openNotification()')
      i.fas.fa-bell.fa-lg
    .absolute.c_hangingElement.w-64.p-2(v-show="topRightHangingEement == 'notification'")
      .c_hangingContainer.bg-gray-700
        p.text-gray-100 hi
  span.px-4.relative
    button(@click='openMenu()')
      i.fas.fa-bars.fa-lg
    .absolute.c_hangingElement.w-64.p-2(v-show="topRightHangingEement == 'menu'")
      .c_hangingContainer.bg-gray-700
        p.text-gray-100 hi