.bg-gray-400.w-48.flex.flex-col.shadow-2xl.sticky
  .p-4
    p User Info Card
  hr.m-auto.border-black(class="w-11/12")
  ul.flex-grow.py-4
    li(:class="getPathClasses(r.name)" v-for='r in routes')
      a.block {{ r.name }}
  hr.m-auto.border-black(class="w-11/12")
  ul.py-4
    li(:class="getPathClasses()")
      a.block Logout