#container
  draggable(
    :list="list"
    :disabled="!enabled"
    class="list-group"
    ghost-class="ghost"
    :move="checkMove"
    @start="dragging = true"
    @end="dragging = false"
  )
    .list-group-item(
      v-for="element in list"
      :key="element.name"
      ) {{ element.name }} summer pretty