.c_hangingElement
  bottom: calc(-1.33em - 1rem)
  right: .8rem
.c_hangingContainer
  &:before
    content: ''
    width: 0
    height: 0
    position: absolute
    right: .5rem
    top: 0
    border-left: 0.5rem solid transparent
    border-right: 0.5rem solid transparent
    border-bottom: 0.5rem solid #4a5568
